
#header {
    h1 {
        font-size: 20px;
        font-weight: 700;

        img {
            vertical-align: text-bottom;
            margin-right: .75rem;
        }

        a {
            color: var(--header-font-color);
            
            &:hover {
                color: var(--header-font-color);
                opacity: .8;
            }
        }
    }
}

