.EntityDetailPage {}


.entity-tag-menu {
    position: absolute;
    z-index: 1;
    margin: 0;
    padding: 0;
    list-style: none;
    background: white;
    border-radius: 6px;
    box-shadow: 0 3px 6px rgba(#000, .16);

    li {
        padding: .35rem .75rem;
        cursor: pointer;

        span, i {
            margin-right: .25rem;
        }

        &:hover {
            background-color: rgba(#000, .04);
        }

        &.remove {
            border-top: 1px solid var(--highlight-bg-color);
            color: red;
        }
    }
}

.entity-content {
    margin-top: 2rem;
}

.entity-menu-progress {
    padding: 0rem 0rem 1.5rem 0rem;
    margin-right: 2rem;
}

ul.entity-menu {
    margin: 0;
    padding: 0;
    list-style: none;

    margin-right: 1rem;
    margin-right: 2rem;
    border-right: 1px solid var(--highlight-bg-color);

    height: calc( 100vh - 250px );
    overflow: auto;


    li {
        margin: 0;
        padding: .5rem;
        font-size: 14px;
        transition: all 0.25s ease;
        cursor: pointer;

        span {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;  
            overflow: hidden;
        }

        &:hover {
            background-color: var(--highlight-bg-color);
        }

        &.done {
            background-color: #e0ffe0;
        }

        &.selected {
            background-color: #d2e4f5;
            font-weight: bold;
        }

    }
}

.text {
    font-size: 18px;
    line-height: 2;
    font-weight: normal;
}

.textSelect {
    overflow: auto;
    height: calc(100vh - 285px);
}
