@import "~bootstrap/scss/bootstrap";

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css");

:root {
  --main-bg-color: #F8F9FA;
  --highlight-bg-color: #E8E8E8;
  --primary-color: #1C7CD5;
  --primary-color-darken: #334973;
  --text-color: #373A3C;
  --text-color-lighten: #8E8E8E;
}

body {
  background: var(--main-bg-color);
  color: var(--text-color);
}

h3 {
  margin: 0;
  font-size: 24px;
  opacity: 50%;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

nav {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #FFF;
  font-size: 20px;
  padding: 1rem 2rem;
  box-shadow: 0 3px 6px rgba(#000, .08);

  h1 {
    margin: 0;
    font-size: 20px;
    line-height: 28px;
    color: var(--primary-color-darken);

    img {
      margin-right: .75rem;
      vertical-align: bottom;
    }
  }
}

aside {
  position: fixed;
  width: 250px;
  top: 60px;
  left: 0;
  bottom: 0;
  padding: 1rem;

  .dropdown button {
    width: 100%;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin: 0;
      padding: .25rem 0;

      a {
        color: var(--text-color-lighten);
        font-weight: 500;
        transition: all 0.25s ease;

        i {
          color: var(--primary-color);
        }

        &:hover {
          color: var(--primary-color);
          text-decoration: none;
        }

        &.selected {
          color: var(--primary-color);
        }
      }
    }
  }

}

main {
  margin-top: 60px;
  margin-left: 250px;
  padding: 1rem;
}