@import "~antd/dist/antd.css";
@import "./utils/helpers.scss";
@import url("https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

:root {
    --background-color: #f8f9fa;
    --border-color: #d2cdcd;

    --header-background-color: #373a3c;
    --header-font-color: #fff;

    --primary-background-color: #465057;
    --primary-font-color: #fff;

    --secondary-background-color: #465057;
    --secondary-font-color: #fff;

    --font-color: #373a3c;
    --lighten-color: #fff;
    --padding: 1rem;
    --shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
    --transition: all 0.25s ease;

    --color-success: #52c41a;
    --color-danger: #ff4d4f;
    --color-warning: #fadb14;
}

body {
    margin: 0;
    background-color: var(--background-color);
    font-family: "Raleway", sans-serif;
    color: var(--font-color);
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

#structure {
    display: grid;
    grid-template-areas:
        "header"
        "subheader"
        "content";
    grid-template-rows: 75px 75px 1fr;

    &.without-subheader {
        grid-template-areas:
            "header"
            "content";
        grid-template-rows: 75px 1fr;
    }

    header,
    main {
        display: flex;
        align-items: center;
    }

    &.center {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }
}

#header {
    grid-area: "header";
    background-color: var(--header-background-color);
    h1 {
        color: var(--header-font-color);
    }
}

#subheader {
    grid-area: "subheader";
    background-color: var(--primary-background-color);
    .title {
        font-size: 1.75rem;
        font-weight: bold;
        color: var(--primary-font-color);
        a {
            color: var(--primary-font-color);
        }
    }
}

#content {
    grid-area: "content";
    margin: 2rem 0;
}

.container {
    width: 90%;
    max-width: 1620px;
    margin: 0 auto;
}

.card {
    display: block;
    background-color: var(--lighten-color);
    border: 1px solid var(--border-color);
    border-radius: 6px;
    overflow: hidden;
    min-height: 100%;
    color: var(--font-color);

    &.card-button {
        cursor: pointer;
        transition: var(--transition);
        box-shadow: none;

        &:hover {
            box-shadow: var(--shadow);
        }
    }

    .card-title {
        font-size: 1.25rem;
        padding: var(--padding);
        background: var(--header-background-color);
        color: var(--header-font-color);

        i {
            margin-right: calc(var(--padding) / 2);
        }

        a {
            color: var(--primary-font-color);
        }
    }

    .card-content {
        padding: var(--padding);
    }

    .fa-ul {
        margin: 0.25rem 1.5rem;

        li {
            margin: 0.75rem 0;

            &.disabled {
                opacity: 0.2;
            }
        }
    }
}

h4 {
    font-size: 12px;
    font-weight: 700;
    color: var(--border-color);
    margin: 0;
}

.item-selected {
    background-color: rgba(0, 0, 0, 0.06);
}

.entity-label {
    display: inline-block;
    padding: .25rem .5rem;
    background-color: rgba(#000, .16);
    border-radius: 4px;
    margin: .1rem .25rem;
}

.labels-menu {
    position: absolute;
    width: 300px;
    background-color: #fff;
    box-shadow: var(--shadow);
    z-index: 100;
    border-radius: 6px;
}